{% comment %}
  The content of index.liquid is rendered inside layout/theme.liquid
{% endcomment %}

<div class="astrid-beauty-home">
  {% section 'hero-beauty' %}
  {% section 'services-beauty' %}
  {% section 'pricing-beauty' %}
  {% section 'about-beauty' %}
  {% section 'contact-beauty' %}
</div>